@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem; 
  --text-lg: 1.8rem;
  --text-xl: 2.0rem;
  --text-2xl: 2.4rem;
  --text-3xl: 3.0rem;
  --text-4xl: 3.6rem;
  --text-5xl: 4.8rem;
  --text-6xl: 6.0rem;
  --text-7xl: 7.2rem;
  --text-8xl: 9.6rem;
  --text-9xl: 12.8rem;
  --spacing: 4px; 
}